.footer{color: #fff;position: relative;background-color: #1f1f1f;padding: 20px 0;}
.footer .value{font-size: 16px}
.footer .text:first-child{margin-top:0px}
.footer .text{color:#999;margin-top:10px}