@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i")

@import "./mixins.styl"

*,:after,:before
  margin 0
  padding 0
  box-sizing border-box

body
  font-family Microsoft YaHei,Roboto
  fs16(0)
  color $gray-600
  background $gray-100

.rap-block
  position relative
  padding 40px 0
  .rap-cistern
    max-width 1600px
    margin-left auto
    margin-right auto

// .ebg-row(8)