/*
vars
*/
$white = #ffffff
$black = #0b1015

//Gray
$gray-900 = #1d2935
$gray-600 = #4f6f7f
$gray-300 = #b6c6ce
$gray-100 = #e0e5e7

// Primary
$primary-900 = #034124
$primary-600 = #299f69
$primary-300 = #89deb7

// Danger
$danger-900 = #500000
$danger-600 = #cd1b1b
$danger-300 = #ff6565

// Warning
$warning-900 = #702200
$warning-600 = #c85900
$warning-300 = #ffa733

// Info
$info-900 = #004576
$info-600 = #0098c4
$info-300 = #9ae6ef

$wap = 750px
$ipadV = 992px
$ipadH = 1200px
$pcs = 1600px

$wap-min = 751px
$ipadV-min = 993px
$ipadH-min = 1201px
$pcs-min = 1601px

/*
mixins
*/
ellipsis() {
  overflow hidden
  -ms-text-overflow ellipsis
  text-overflow ellipsis
  white-space nowrap
}

// //多行省略
ellipsi($i = 2px) {
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp $i
  -webkit-box-orient vertical
}

bounds($distance) {
  position: absolute;
  top: $distance;
  bottom: $distance;
  right: $distance;
  left: $distance;
}

// //字体大小和字间距
fs-lh($fs,$lh,$flag)
  font-size $fs
  line-height $lh
  if $flag
    margin-top (($fs - $lh) / 2)
    margin-bottom ($fs - $lh) / 2


fs-lh-media($fs,$lh,$scope,$flag)
  @media screen and (min-width:$scope)
    font-size $fs
    line-height $lh
    if $flag
      margin-top ($fs - $lh) / 2
      margin-bottom ($fs - $lh) / 2


fs14($flag){
  fs-lh 14px 18px $flag
  fs-lh-media 12px 16px $wap $flag
}

fs16($flag){
  fs-lh 16px 18px $flag
  fs-lh-media 14px 18px $wap $flag
}
fs18($flag){
  fs-lh 18px 24px $flag
  fs-lh-media 16px 20px $wap $flag
}
fs20($flag){
  fs-lh 20px 28px $flag
  fs-lh-media 18px 20px $wap $flag
}
fs24($flag){
  fs-lh 24px 32px $flag
  fs-lh-media 20px 28px $wap $flag
}
fs32($flag){
  fs-lh 32px 42px $flag
  fs-lh-media 24px 32px $wap $flag
}
fs56($flag){
  fs-lh 56px 68px $flag
  fs-lh-media 32px 42px $wap $flag
}

//间距
spaceDir($type,$dir,$i)
  {$type}-{$dir}: $i
  if $i > 15px
    @media screen and (min-width:$wap)
      {$type}-{$dir}: $i - 10px

mt($item){
  spaceDir margin top $item
}
mb($item){
  spaceDir margin bottom $item
}
mr($item){
  spaceDir margin right $item
}
ml($item){
  spaceDir margin left $item
}

mlr($item){
  spaceDir margin left $item
  spaceDir margin right $item
}
mtb($item){
  spaceDir margin top $item
  spaceDir margin bottom $item
}
m($item){
  spaceDir margin top $item
  spaceDir margin bottom $item
  spaceDir margin left $item
  spaceDir margin right $item
}

pt($item){
  spaceDir padding top $item
}
pb($item){
  spaceDir padding bottom $item
}
pr($item){
  spaceDir padding right $item
}
pl($item){
  spaceDir padding left $item
}
plr($item){
  spaceDir padding left $item
  spaceDir padding right $item
}
ptb($item){
  spaceDir padding top $item
  spaceDir padding bottom $item
}
p($item){
  spaceDir padding top $item
  spaceDir padding bottom $item
  spaceDir padding left $item
  spaceDir padding right $item
}