.index-static-block .wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .index-static-block .wrap {
    padding-bottom: -8px;
    padding-top: -8px;
  }
}
.index-static-block .wrap .title {
  line-height: 1.22222222;
  font-size: 18px;
  margin-top: -2px;
  margin-bottom: -2px;
  color: #333;
}
@media screen and (max-width: 992px) {
  .index-static-block .wrap .title {
    line-height: 1.2;
    font-size: 15px;
    margin-top: -1.5px;
    margin-bottom: -1.5px;
  }
}
.index-static-block .wrap .content {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .index-static-block .wrap .content {
    padding-bottom: -8px;
    padding-top: -8px;
  }
}
.index-static-block .wrap .left {
  width: 50%;
}
.index-static-block .wrap .right {
  width: 50%;
  padding-left: 20px;
}
@media screen and (max-width: 992px) {
  .index-static-block .wrap .right {
    padding-left: -8px;
  }
}
.index-static-block .wrap .right ul > li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.index-static-block .wrap .right ul > li + li {
  padding-top: 10px;
}
@media screen and (max-width: 992px) {
  .index-static-block .wrap .right ul > li + li {
    padding-top: -3px;
  }
}
.index-static-block .wrap .right ul > li:nth-child(odd) {
  background: #fff;
}
.index-static-block .wrap .right ul > li .rootId {
  width: 36%;
  color: #92ab59;
}
.index-static-block .wrap .right ul > li .rootPath {
  width: 64%;
}
.middle-line {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.21875;
  font-size: 32px;
  margin-top: -3.5px;
  margin-bottom: -3.5px;
  background: -webkit-gradient(linear, left top, right top, from(#b4b2bd), color-stop(#d7b7ba), color-stop(#b9cade), to(#d8d6ca));
  background: linear-gradient(to right, #b4b2bd, #d7b7ba, #b9cade, #d8d6ca);
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .middle-line {
    padding-bottom: -13px;
    padding-top: -13px;
  }
}
@media screen and (max-width: 992px) {
  .middle-line {
    line-height: 1.22727273;
    font-size: 22px;
    margin-top: -2.5px;
    margin-bottom: -2.5px;
  }
}
.middle-line img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
