@import (reference) "../../css/ver";

.index-static-block {
  .wrap {
    .left {}

    .right {
      .title {}
    }
  }
}

.middle-line {
  height: 60px;
  .fs32;
  text-align: center;
  color: #fff;
  position: relative;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}