@font-face {
  font-family: 'icomoon';
  src: url(/rapserver/css/iconmoon/fonts/icomoon.eot?a0opvm=&version=1545142635761);
  src: url(/rapserver/css/iconmoon/fonts/icomoon.eot?a0opvm=&version=1545142635761#iefix) format('embedded-opentype'), url(/rapserver/css/iconmoon/fonts/icomoon.ttf?a0opvm=&version=1545142635808) format('truetype'), url(/rapserver/css/iconmoon/fonts/icomoon.woff?a0opvm=&version=1545142635824) format('woff'), url(/rapserver/css/iconmoon/fonts/icomoon.svg?a0opvm=&version=1545142635777#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="fa-"],
[class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gea:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock--o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0a2";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group-users:before {
  content: "\f0c0";
}
.fa-chain-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before {
  content: "\f0c4";
}
.fa-copy:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before {
  content: "\f0dc";
}
.fa-sort-down:before {
  content: "\f0dd";
}
.fa-sort-up:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before {
  content: "\f0e2";
}
.fa-legal:before {
  content: "\f0e3";
}
.fa-dashboard:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0f3";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-reply-all:before {
  content: "\f122";
}
.fa-mail-reply-all:before {
  content: "\f123";
}
.fa-star-half-empty:before {
  content: "\f124";
}
.fa-location-arrow:before {
  content: "\f125";
}
.fa-crop:before {
  content: "\f126";
}
.fa-code-fork:before {
  content: "\f127";
}
.fa-unlink:before {
  content: "\f128";
}
.fa-question:before {
  content: "\f129";
}
.fa-info:before {
  content: "\f12a";
}
.fa-exclamation:before {
  content: "\f12b";
}
.fa-superscript:before {
  content: "\f12c";
}
.fa-subscript:before {
  content: "\f12d";
}
.fa-eraser:before {
  content: "\f12e";
}
.fa-puzzle-piece:before {
  content: "\f130";
}
.fa-microphone:before {
  content: "\f131";
}
.fa-microphone-slash:before {
  content: "\f132";
}
.fa-shield:before {
  content: "\f133";
}
.fa-calendar-o:before {
  content: "\f134";
}
.fa-fire-extinguisher:before {
  content: "\f135";
}
.fa-rocket:before {
  content: "\f136";
}
.fa-maxcdn:before {
  content: "\f137";
}
.fa-chevron-circle-left:before {
  content: "\f138";
}
.fa-chevron-circle-right:before {
  content: "\f139";
}
.fa-chevron-circle-up:before {
  content: "\f13a";
}
.fa-chevron-circle-down:before {
  content: "\f13b";
}
.fa-html5:before {
  content: "\f13c";
}
.fa-css3:before {
  content: "\f13d";
}
.fa-anchor:before {
  content: "\f13e";
}
.fa-unlock-alt:before {
  content: "\f140";
}
.fa-bullseye:before {
  content: "\f141";
}
.fa-ellipsis-h:before {
  content: "\f142";
}
.fa-ellipsis-v:before {
  content: "\f143";
}
.fa-rss-square:before {
  content: "\f144";
}
.fa-play-circle:before {
  content: "\f145";
}
.fa-ticket:before {
  content: "\f146";
}
.fa-minus-square:before {
  content: "\f147";
}
.fa-minus-square-o:before {
  content: "\f148";
}
.fa-level-up:before {
  content: "\f149";
}
.fa-level-down:before {
  content: "\f14a";
}
.fa-check-square:before {
  content: "\f14b";
}
.fa-pencil-square:before {
  content: "\f14c";
}
.fa-external-link-square:before {
  content: "\f14d";
}
.fa-share-square:before {
  content: "\f14e";
}
.fa-compass:before {
  content: "\f150";
}
.fa-toggle-down:before {
  content: "\f151";
}
.fa-toggle-up:before {
  content: "\f152";
}
.fa-toggle-right:before {
  content: "\f153";
}
.fa-euro:before {
  content: "\f154";
}
.fa-gbp:before {
  content: "\f155";
}
.fa-dollar:before {
  content: "\f156";
}
.fa-rupee:before {
  content: "\f157";
}
.fa-cny:before {
  content: "\f158";
}
.fa-ruble:before {
  content: "\f159";
}
.fa-won:before {
  content: "\f15a";
}
.fa-bitcoin:before {
  content: "\f15b";
}
.fa-file:before {
  content: "\f15c";
}
.fa-file-text:before {
  content: "\f15d";
}
.fa-sort-alpha-asc:before {
  content: "\f15e";
}
.fa-sort-alpha-desc:before {
  content: "\f160";
}
.fa-sort-amount-asc:before {
  content: "\f161";
}
.fa-sort-amount-desc:before {
  content: "\f162";
}
.fa-sort-numeric-asc:before {
  content: "\f163";
}
.fa-sort-numeric-desc:before {
  content: "\f164";
}
.fa-thumbs-up:before {
  content: "\f165";
}
.fa-thumbs-down:before {
  content: "\f166";
}
.fa-youtube-square:before {
  content: "\f167";
}
.fa-youtube:before {
  content: "\f168";
}
.fa-xing:before {
  content: "\f169";
}
.fa-xing-square:before {
  content: "\f16a";
}
.fa-youtube-play:before {
  content: "\f16b";
}
.fa-dropbox:before {
  content: "\f16c";
}
.fa-stack-overflow:before {
  content: "\f16d";
}
.fa-instagram:before {
  content: "\f16e";
}
.fa-flickr:before {
  content: "\f170";
}
.fa-adn:before {
  content: "\f171";
}
.fa-bitbucket:before {
  content: "\f172";
}
.fa-bitbucket-square:before {
  content: "\f173";
}
.fa-tumblr:before {
  content: "\f174";
}
.fa-tumblr-square:before {
  content: "\f175";
}
.fa-long-arrow-down:before {
  content: "\f176";
}
.fa-long-arrow-up:before {
  content: "\f177";
}
.fa-long-arrow-left:before {
  content: "\f178";
}
.fa-long-arrow-right:before {
  content: "\f179";
}
.fa-apple:before {
  content: "\f17a";
}
.fa-windows:before {
  content: "\f17b";
}
.fa-android:before {
  content: "\f17c";
}
.fa-linux:before {
  content: "\f17d";
}
.fa-dribbble:before {
  content: "\f17e";
}
.fa-skype:before {
  content: "\f180";
}
.fa-foursquare:before {
  content: "\f181";
}
.fa-trello:before {
  content: "\f182";
}
.fa-female:before {
  content: "\f183";
}
.fa-male:before {
  content: "\f184";
}
.fa-gittip:before {
  content: "\f185";
}
.fa-sun-o:before {
  content: "\f186";
}
.fa-moon-o:before {
  content: "\f187";
}
.fa-archive:before {
  content: "\f188";
}
.fa-bug:before {
  content: "\f189";
}
.fa-vk:before {
  content: "\f18a";
}
.fa-weibo:before {
  content: "\f18b";
}
.fa-renren:before {
  content: "\f18c";
}
.fa-pagelines:before {
  content: "\f18d";
}
.fa-stack-exchange:before {
  content: "\f18e";
}
.fa-arrow-circle-o-right:before {
  content: "\f190";
}
.fa-arrow-circle-o-left:before {
  content: "\f191";
}
.fa-toggle-left:before {
  content: "\f192";
}
.fa-dot-circle-o:before {
  content: "\f193";
}
.fa-wheelchair:before {
  content: "\f194";
}
.fa-vimeo-square:before {
  content: "\f195";
}
.fa-turkish-lira-try:before {
  content: "\f196";
}


h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
li,
dl,
dt,
dd,
ol,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
hr,
img,
select {
  padding: 0;
  margin: 0;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Microsoft Yahei', tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
  color: #666;
  font-size: 14px;
  position: relative;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:focus {
  outline: 0;
  cursor: pointer;
}
em,
i {
  font-style: normal;
}
img {
  border: 0px;
  vertical-align: middle;
}
.col,
.col:after {
  content: " ";
  display: block;
  clear: both;
}
.col .col1,
.col .col2,
.col .col3,
.col .col4,
.col .col5,
.col .col6,
.col .col7,
.col .col8,
.col .col9,
.col .col10,
.col .col11,
.col .col12,
.col .col01,
.col .col02,
.col .col03,
.col .col04,
.col .col05,
.col .col06,
.col .col07,
.col .col08,
.col .col09,
.col .col010 {
  float: left;
  display: inline-block;
  clear: right;
}
.col .col1 {
  width: 8.33%;
}
.col .col2 {
  width: 16.66%;
}
.col .col3 {
  width: 25%;
}
.col .col4 {
  width: 33.33%;
}
.col .col5 {
  width: 41.67%;
}
.col .col6 {
  width: 50%;
}
.col .col7 {
  width: 58.33%;
}
.col .col8 {
  width: 66.66%;
}
.col .col9 {
  width: 75%;
}
.col .col10 {
  width: 83.33%;
}
.col .col11 {
  width: 91.66%;
}
.col .col01 {
  width: 10%;
}
.col .col02 {
  width: 20%;
}
.col .col03 {
  width: 30%;
}
.col .col04 {
  width: 40%;
}
.col .col05 {
  width: 50%;
}
.col .col06 {
  width: 60%;
}
.col .col07 {
  width: 70%;
}
.col .col08 {
  width: 80%;
}
.col .col09 {
  width: 90%;
}
@media screen and (max-width: 750px) {
  .col .col1,
  .col .col2,
  .col .col3,
  .col .col4,
  .col .col5,
  .col .col6,
  .col .col7,
  .col .col8,
  .col .col9,
  .col .col10,
  .col .col11,
  .col .col12,
  .col .col01,
  .col .col02,
  .col .col03,
  .col .col04,
  .col .col05,
  .col .col06,
  .col .col07,
  .col .col08,
  .col .col09,
  .col .col010 {
    float: none;
    display: block;
    width: 100%;
  }
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  zoom: 1;
  *zoom: 1;
}
.clr:after {
  content: " ";
  display: block;
  clear: both;
}
.fw12 {
  width: 100%;
}
.fw11 {
  width: 91.66666667%;
}
.fw10 {
  width: 83.33333333%;
}
.fw9 {
  width: 75%;
}
.fw8 {
  width: 66.66666667%;
}
.fw7 {
  width: 58.33333333%;
}
.fw6 {
  width: 50%;
}
.fw5 {
  width: 41.66666667%;
}
.fw4 {
  width: 33.33333333%;
}
.fw3 {
  width: 25%;
}
.fw2 {
  width: 16.66666667%;
}
.fw1 {
  width: 8.33333333%;
}
.fw0 {
  width: 0;
}
.fh100 {
  height: 100%;
}
.fh90 {
  height: 90%;
}
.fh80 {
  height: 80%;
}
.fh70 {
  height: 70%;
}
.fh60 {
  height: 60%;
}
.fh50 {
  height: 50%;
}
.fh40 {
  height: 40%;
}
.fh30 {
  height: 30%;
}
.fh20 {
  height: 20%;
}
.fh10 {
  height: 10%;
}
.bd {
  border: 1px solid #e1e1e1;
}
.bd-no {
  border: 0 !important;
}
.bd-no-top {
  border-top: 0;
}
.bd-no-bottom {
  border-bottom: 0;
}
.bd-no-left {
  border-left: 0;
}
.bd-no-right {
  border-right: 0;
}
.bd-bottom {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #e1e1e1;
}
.bd-top {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #e1e1e1;
}
.bd-top-bottom {
  border-top: 1px solid #e1e1e1;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #e1e1e1;
}
.bd-left {
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 1px solid #e1e1e1;
}
.bd-right {
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 1px solid #e1e1e1;
}
.bd-dotted {
  border-style: dotted;
}
.bd-dashed {
  border-style: dashed;
}
.bd-1 {
  border-width: 1px;
}
.bd-2 {
  border-width: 2px;
}
.bd-3 {
  border-width: 3px;
}
.bd-4 {
  border-width: 4px;
}
.bd-success {
  border-color: #a8bc7b;
}
.bd-success:focus {
  border-color: #92ab59;
}
.bd-info {
  border-color: #70afc4;
}
.bd-info:hover,
.bd-info:focus {
  border-color: #4c9bb5;
}
.bd-warning {
  border-color: #f0ad4e;
}
.bd-warning:hover,
.bd-warning:focus {
  border-color: #ec971f;
}
.bd-danger {
  border-color: #d9534f;
}
.bd-danger:hover,
.bd-danger:focus {
  border-color: #c9302c;
}
.rd-per-50 {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-bordder-radius: 50%;
  -o-user-select: 50%;
}
.rd-per-30 {
  border-radius: 30%;
  -moz-border-radius: 30%;
  -webkit-bordder-radius: 30%;
  -o-user-select: 30%;
}
.rd-5 {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-bordder-radius: 5px;
  -o-user-select: 5px;
}
.rd-3 {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-bordder-radius: 3px;
  -o-user-select: 3px;
}
.rd-2 {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-bordder-radius: 2px;
  -o-user-select: 2px;
}
.t-success {
  color: #a8bc7b;
}
.t-success:focus {
  color: #92ab59;
}
.t-info {
  color: #70afc4;
}
.t-info:hover,
.t-info:focus {
  color: #4c9bb5;
}
.t-warning {
  color: #f0ad4e;
}
.t-warning:hover,
.t-warning:focus {
  color: #ec971f;
}
.t-danger {
  color: #d9534f;
}
.t-danger:hover,
.t-danger:focus {
  color: #c9302c;
}
.t-success {
  color: #a8bc7b;
}
.t-white {
  color: #fff;
}
.bg-muted {
  background: #d1d5da;
}
.bg-success:focus {
  background-color: #92ab59;
}
.bg-info {
  background-color: #70afc4;
}
.bg-info:hover,
.bg-info:focus {
  background-color: #4c9bb5;
}
.bg-light-info {
  background-color: #f4f6f7;
}
.bg-warning {
  background-color: #f0ad4e;
}
.bg-warning:hover,
.bg-warning:focus {
  background-color: #ec971f;
}
.bg-danger {
  background-color: #d9534f;
}
.bg-danger:hover,
.bg-danger:focus {
  background-color: #c9302c;
}
.t-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.t-clip {
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
.t2 {
  text-indent: 2px;
}
.block {
  display: block;
}
.show {
  display: inherit;
}
.none {
  display: none;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.inline-block-vm {
  display: inline-block;
  vertical-align: middle;
}
.vm {
  vertical-align: middle;
}
.relative {
  position: relative;
}
.abs {
  position: absolute;
}
.abs-auto {
  position: absolute;
  left: auto;
  top: auto;
}
.abs-right {
  position: absolute;
  left: auto;
  top: 0px;
}
.abs-bottom {
  position: absolute;
  left: 0px;
  top: auto;
}
/*z-index*/
.z0 {
  z-index: 0;
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
/*opacity*/
.op0 {
  opacity: 0;
}
.op1 {
  opacity: 0.1;
}
.op2 {
  opacity: 0.2;
}
.op3 {
  opacity: 0.3;
}
.op4 {
  opacity: 0.4;
}
.op5 {
  opacity: 0.5;
}
.op6 {
  opacity: 0.6;
}
.op7 {
  opacity: 0.7;
}
.op8 {
  opacity: 0.8;
}
.op9 {
  opacity: 0.9;
}
.op10 {
  opacity: 1;
}
/*font-size*/
.fs10 {
  font-size: 10px;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 24px;
}
.fs24 {
  font-size: 24px;
}
.fs28 {
  font-size: 28px;
}
.fs32 {
  font-size: 32px;
}
/*5*/
.m5 {
  margin: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mlr5 {
  margin-left: 5px;
  margin-right: 5px;
}
.mtb5 {
  margin-bottom: 5px;
  margin-top: 5px;
}
/*8*/
.m8 {
  margin: 8px;
}
.mt8 {
  margin-top: 8px;
}
.mb8 {
  margin-bottom: 8px;
}
.ml8 {
  margin-left: 8px;
}
.mr8 {
  margin-right: 8px;
}
.mlr8 {
  margin-left: 8px;
  margin-right: 8px;
}
.mtb8 {
  margin-bottom: 8px;
  margin-top: 8px;
}
/*10*/
.m10 {
  margin: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mlr10 {
  margin-right: 10px;
  margin-left: 10px;
}
.mtb10 {
  margin-bottom: 10px;
  margin-top: 10px;
}
/*20*/
.m20 {
  margin: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mlr20 {
  margin-right: 20px;
  margin-left: 20px;
}
.mtb20 {
  margin-bottom: 20px;
  margin-top: 20px;
}
/*30*/
.m30 {
  margin: 30px;
}
.mt30 {
  margin-top: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml30 {
  margin-left: 30px;
}
.mr30 {
  margin-right: 30px;
}
.mlr30 {
  margin-right: 30px;
  margin-left: 30px;
}
.mtb30 {
  margin-bottom: 30px;
  margin-top: 30px;
}
/*40*/
.m40 {
  margin: 40px;
}
.mt40 {
  margin-top: 40px;
}
.mb40 {
  margin-bottom: 40px;
}
.ml40 {
  margin-left: 40px;
}
.mr40 {
  margin-right: 40px;
}
.mlr40 {
  margin-right: 40px;
  margin-left: 40px;
}
.mtb40 {
  margin-bottom: 40px;
  margin-top: 40px;
}
/*50*/
.m50 {
  margin: 50px;
}
.mt50 {
  margin-top: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.ml50 {
  margin-left: 50px;
}
.mr50 {
  margin-right: 50px;
}
.mlr50 {
  margin-right: 50px;
  margin-left: 50px;
}
.mtb50 {
  margin-bottom: 50px;
  margin-top: 50px;
}
/*p5*/
.p5 {
  padding: 5px;
}
.pt5 {
  padding-top: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.pl5 {
  padding-left: 5px;
}
.pr5 {
  padding-right: 5px;
}
.plr5 {
  padding-left: 5px;
  padding-right: 5px;
}
.ptb5 {
  padding-bottom: 5px;
  padding-top: 5px;
}
/*p8*/
.p8 {
  padding: 8px;
}
.pt8 {
  padding-top: 8px;
}
.pb8 {
  padding-bottom: 8px;
}
.pl8 {
  padding-left: 8px;
}
.pr8 {
  padding-right: 8px;
}
.plr8 {
  padding-left: 8px;
  padding-right: 8px;
}
.ptb8 {
  padding-bottom: 8px;
  padding-top: 8px;
}
/*p10*/
.p10 {
  padding: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pr10 {
  padding-right: 10px;
}
.plr10 {
  padding-right: 10px;
  padding-left: 10px;
}
.ptb10 {
  padding-bottom: 10px;
  padding-top: 10px;
}
/*p20*/
.p20 {
  padding: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pt20 {
  padding-top: 20px;
}
.plr20 {
  padding-right: 20px;
  padding-left: 20px;
}
.ptb20 {
  padding-bottom: 20px;
  padding-top: 20px;
}
/*p30*/
.p30 {
  padding: 30px;
}
.pt30 {
  padding-top: 30px;
}
.pb30 {
  padding-bottom: 30px;
}
.pl30 {
  padding-left: 30px;
}
.pr30 {
  padding-right: 30px;
}
.plr30 {
  padding-right: 30px;
  padding-left: 30px;
}
.ptb30 {
  padding-bottom: 30px;
  padding-top: 30px;
}
/*p40*/
.p40 {
  padding: 40px;
}
.pt40 {
  padding-top: 40px;
}
.pb40 {
  padding-bottom: 40px;
}
.pl40 {
  padding-left: 40px;
}
.pr40 {
  padding-right: 40px;
}
.plr40 {
  padding-right: 40px;
  padding-left: 40px;
}
.ptb40 {
  padding-bottom: 40px;
  padding-top: 40px;
}
/*p50*/
.p50 {
  padding: 50px;
}
.pt50 {
  padding-top: 50px;
}
.pb50 {
  padding-bottom: 50px;
}
.pl50 {
  padding-left: 50px;
}
.pr50 {
  padding-right: 50px;
}
.plr50 {
  padding-right: 50px;
  padding-left: 50px;
}
.ptb50 {
  padding-bottom: 50px;
  padding-top: 50px;
}
/*line-height*/
.lh10 {
  line-height: 10px;
}
.lh12 {
  line-height: 12px;
}
.lh14 {
  line-height: 14px;
}
.lh16 {
  line-height: 16px;
}
.lh20 {
  line-height: 20px;
}
.lh30 {
  line-height: 30px;
}
.lh35 {
  line-height: 35px;
}
.lh40 {
  line-height: 40px;
}
.lh45 {
  line-height: 45px;
}
.lh50 {
  line-height: 50px;
}
.lh60 {
  line-height: 60px;
}
/*height*/
.h10 {
  height: 10px;
}
.h20 {
  height: 20px;
}
.h30 {
  height: 30px;
}
.h35 {
  height: 35px;
}
.h40 {
  height: 40px;
}
.h45 {
  height: 45px;
}
.h50 {
  height: 50px;
}
.h60 {
  height: 60px;
}
/*width*/
.w10 {
  width: 10px;
}
.w20 {
  width: 20px;
}
.w30 {
  width: 30px;
}
.w35 {
  width: 35px;
}
.w40 {
  width: 40px;
}
.w45 {
  width: 45px;
}
.w50 {
  width: 50px;
}
.w60 {
  width: 60px;
}
.w70 {
  width: 70px;
}
.w80 {
  width: 80px;
}
.w90 {
  width: 90px;
}
.w100 {
  width: 100px;
}
.w110 {
  width: 110px;
}
.w120 {
  width: 120px;
}
.w130 {
  width: 130px;
}
.a-wrap {
  display: block;
}
.a-link:hover {
  opacity: 0.9;
}
.a-default-link:hover {
  color: blue;
}
.a-link-success:hover {
  color: #a8bc7b;
}
.a-link-info:hover {
  color: #70afc4;
}
.a-link-warning:hover {
  color: #f0ad4e;
}
.a-link-danger:hover {
  color: #d9534f;
}
.a-link-white:hover {
  color: #fff;
}
.ease {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.bounceIn {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -moz-transition: all 0.2s cubic-bezier(1, -0.53, 0.405, 1.425);
  -o-transition: all 0.2s cubic-bezier(1, -0.53, 0.405, 1.425);
  -webkit-transition: all 0.2s cubic-bezier(1, -0.53, 0.405, 1.425);
  transition: all 0.2s cubic-bezier(1, -0.53, 0.405, 1.425);
}
.line-scale-pulse-out > div:nth-child(1),
.line-scale-pulse-out > div:nth-child(5) {
  -webkit-animation-delay: 0.4s !important;
  animation-delay: 0.4s !important;
}
.line-scale-pulse-out > div:nth-child(2),
.line-scale-pulse-out > div:nth-child(4) {
  -webkit-animation-delay: 0.2s !important;
  animation-delay: 0.2s !important;
}
.line-scale-pulse-out > div {
  background-color: #fff;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  -webkit-animation: line-scale-pulse-out 0.9s 0s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
  animation: line-scale-pulse-out 0.9s 0s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}
@-webkit-keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}
@keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}
[v-cloak] {
  display: none;
}
.hasPermission {
  display: none;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.cb {
  margin-right: auto;
  margin-left: auto;
}
.wrap {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1280px;
  min-width: 300px;
}
@media (max-width: 1640px) {
  .wrap {
    max-width: 1200px;
  }
}
.J-scroll {
  margin-right: -15px;
  padding-right: 17px;
}


.dl-dialog {
  position: fixed;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  /* -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, .5); */
  background-color: #ffffff;
  /* border: 1px solid #999999; */
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, .5); */
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 90%;
}
@media (min-width: 1300px) {
  .dl-dialog {
    max-width: 800px;
  }
}
@media (min-width: 1024px) {
  .dl-dialog {
    max-width: 600px;
  }
}
.dl-body {
  width: auto;
  height: auto;
  padding: 0px;
}
.dl-header {
  height: 40px;
  padding-right: 42px;
  border-bottom: 2px solid #cb0101;
}
.dl-mask {
  opacity: 0.2;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
}
.dl-title {
  padding: 0 10px;
  color: #cb0101;
  font-weight: 700;
  height: 100%;
  line-height: 45px;
  font-size: 18px;
}
.dl-tips {
  min-width: 180px;
  /* min-height:100px; */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-bordder-radius: 5px;
  -o-user-select: 5px;
  background: #fff;
  background-color: #ffffff;
  border-radius: 6px;
  background-clip: padding-box;
  box-shadow: 0px 0px 46px rgba(0, 0, 0, 0.3);
}
.dl-dialog > .dl-close {
  border-radius: 0 6px 0 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.dl-dialog > .dl-close:hover {
  transform: translateZ(0) rotate(-180deg);
  color: #e50000 !important;
  border-radius: 50%;
}
.dl-alert {
  border: 2px solid #d9d6d6;
  width: auto;
  border-radius: 5px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#ffffff));
}
.dl-alert .dl-header {
  padding-left: 20px;
  border-bottom: 2px solid #d9d6d6;
  color: #000;
  height: 30px;
  line-height: 30px;
}
.dl-tips-img {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.dl-tips-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.dl-tips-error .dl-tips-img {
  background-image: url(/rapserver/js/RBT/dl-img/tips-error.png?version=1545142636271);
}
.dl-tips-info .dl-tips-img {
  background-image: url(/rapserver/js/RBT/dl-img/tips-info.png?version=1545142636271);
}
.dl-tips-success .dl-tips-img {
  background-image: url(/rapserver/js/RBT/dl-img/tips-success.png?version=1545142636286);
}
.dl-tips-warn .dl-tips-img {
  background-image: url(/rapserver/js/RBT/dl-img/tips-warn.png?version=1545142636302);
}
.dl-tips-error .dl-tips-text {
  color: #da0e0e;
}
.dl-tips-info .dl-tips-text {
  color: #0b6b3b;
}
.dl-tips-success .dl-tips-text {
  color: #95c53e;
}
.dl-tips-warn .dl-tips-text {
  color: #ffc600;
}
.dl-load {
  background: url(/rapserver/js/RBT/dl-img/loading.gif?version=1545142636255) no-repeat;
  width: 16px;
  height: 16px;
}
.dl-footer .btn {
  margin: 0 10px 10px;
}
.dl-footer {
  border-radius: 5px;
  padding-top: 10px;
}
.dialogBtns {
  margin-left: -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}
.dl-footer,
.dialogBtns {
  text-align: center;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  background: #fefefe;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
}
.dialogBtns:after {
  content: "";
  background: #fefefe;
  position: absolute;
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 0;
  border-radius: 0 0 5px 5px;
}


.down-menu-wrap {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 5px 0;
  z-index: 1000;
  line-height: 1.2;
}
.down-menu-wrap.active {
  display: block;
}
.down-menu-wrap > dd {
  padding: 5px;
  cursor: pointer;
}
.down-menu-wrap > dd.matched {
  display: block;
}
.down-menu-wrap > dd:hover {
  background: #f7f7f7;
}


.loader {
  background: #3670ab;
  background: radial-gradient(#7caad8, #3670ab);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  display: none;
}
.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap {
  -webkit-animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) {
  -webkit-animation-delay: -50ms;
  animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
  -webkit-animation-delay: -100ms;
  animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
  -webkit-animation-delay: -150ms;
  animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
  -webkit-animation-delay: -200ms;
  animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
  -webkit-animation-delay: -250ms;
  animation-delay: -250ms;
}
.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}
@-webkit-keyframes spin {
  0%,
  15% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0%,
  15% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.footer {
  color: #fff;
  position: relative;
  background-color: #1f1f1f;
  padding: 20px 0;
}
.footer .value {
  font-size: 16px;
}
.footer .text:first-child {
  margin-top: 0px;
}
.footer .text {
  color: #999;
  margin-top: 10px;
}


.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 12px;
  /*font-size: 14px;*/
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #ffffff;
}
.btn:hover {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  opacity: 0.9;
}
.btn.disabled,
.btn[disabled],
.btn[disabled]:hover,
[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.5;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #333;
  background-color: #ffffff;
  border-color: #333;
}
.btn-info {
  background-color: #70afc4;
  border-color: #70afc4;
}
.btn-warn {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-success {
  background-color: #92ab59;
  border-color: #92ab59;
}


/*
* 校验
*/
.validItem {
  position: relative;
  /*错误*/
}
.validItem .validErrMsg {
  display: none;
  padding-bottom: 10px;
  margin-top: -10px;
  top: 100%;
  line-height: 23px;
  font-size: 14px;
}
.validItem .validIcon {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: -30px;
}
.validItem .ipt-error {
  display: none;
}
.validItem.validError input,
.validItem.validError select {
  border: 1px solid #d9534f;
}
.validItem.validError .validErrMsg {
  color: #d9534f;
  display: block;
}
.validItem.validError .validIcon {
  color: #d9534f;
  display: block;
}
.validItem.validError .ipt-error {
  display: block;
}
/**
*样式
*/
.ipt-form .ipt-field {
  position: relative;
  border: none;
  padding-top: 10px;
  line-height: 1.21428571;
  font-size: 14px;
  margin-top: -1.5px;
  margin-bottom: -1.5px;
}
@media screen and (max-width: 992px) {
  .ipt-form .ipt-field {
    padding-top: -3px;
  }
}
@media screen and (max-width: 992px) {
  .ipt-form .ipt-field {
    line-height: 1.23076923;
    font-size: 13px;
    margin-top: -1.5px;
    margin-bottom: -1.5px;
  }
}
.ipt-form .ipt-field .ipt-wrap {
  cursor: text;
  display: block;
  padding-top: 20px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .ipt-form .ipt-field .ipt-wrap {
    padding-top: -8px;
  }
}
.ipt-form .ipt-field .ipt-wrap .ipt-textArea,
.ipt-form .ipt-field .ipt-wrap .ipt-text {
  display: block;
  color: #333;
  width: 100%;
  border: none;
  font-family: inherit;
  line-height: 1.375;
  padding: 5px 0;
  background-color: transparent;
  -webkit-box-shadow: inset 0 -1px 0 0 #D6D6D6;
  box-shadow: inset 0 -1px 0 0 #D6D6D6;
}
.ipt-form .ipt-field .ipt-wrap .ipt-textArea:focus,
.ipt-form .ipt-field .ipt-wrap .ipt-text:focus {
  -webkit-box-shadow: inset 0 -2px 0 0 #C7000B;
  box-shadow: inset 0 -2px 0 0 #C7000B;
}
@media (max-width: 992px) {
  .ipt-form .ipt-field .ipt-wrap .ipt-textArea:focus,
  .ipt-form .ipt-field .ipt-wrap .ipt-text:focus {
    /*ios不支持box-shadow*/
    border-bottom: 1px solid #C7000B;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }
}
.ipt-form .ipt-field .ipt-wrap .ipt-textArea.ipt-not-empty,
.ipt-form .ipt-field .ipt-wrap .ipt-text.ipt-not-empty,
.ipt-form .ipt-field .ipt-wrap .ipt-textArea.force-focus,
.ipt-form .ipt-field .ipt-wrap .ipt-text.force-focus,
.ipt-form .ipt-field .ipt-wrap .ipt-textArea:focus,
.ipt-form .ipt-field .ipt-wrap .ipt-text:focus,
.ipt-form .ipt-field .ipt-wrap .ipt-textArea.ipt-not-empty,
.ipt-form .ipt-field .ipt-wrap .ipt-text.ipt-not-empty {
  outline: none;
}
.ipt-form .ipt-field .ipt-wrap .ipt-textArea.ipt-not-empty ~ .ipt-label,
.ipt-form .ipt-field .ipt-wrap .ipt-text.ipt-not-empty ~ .ipt-label,
.ipt-form .ipt-field .ipt-wrap .ipt-textArea.force-focus ~ .ipt-label,
.ipt-form .ipt-field .ipt-wrap .ipt-text.force-focus ~ .ipt-label,
.ipt-form .ipt-field .ipt-wrap .ipt-textArea:focus ~ .ipt-label,
.ipt-form .ipt-field .ipt-wrap .ipt-text:focus ~ .ipt-label,
.ipt-form .ipt-field .ipt-wrap .ipt-textArea.ipt-not-empty ~ .ipt-label,
.ipt-form .ipt-field .ipt-wrap .ipt-text.ipt-not-empty ~ .ipt-label {
  top: 0;
  font-size: 12px;
  line-height: 1.5;
}
.ipt-form .ipt-field .ipt-label {
  position: absolute;
  left: 0;
  top: 14px;
  line-height: 1.83333333;
  color: #999;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
